.container {
  height: 100%;
  width: 100%;
  border-right: 1px solid #c200fb;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    margin: 1rem 0;
  }

  .musics {
    width: 100%;
    height: calc(100% - 7.65rem);
    padding: 0 2rem;

    thead {
      width: 100%;

      tr {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;

        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        th {
          width: 100%;
          padding: 0.8rem;

          font-size: 1.05rem;
          text-align: center;
        }
      }
    }

    tbody {
      display: block;
      width: 100%;
      height: calc(100% - 2.85rem);
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: #c200fb #fff;
      -webkit-overflow-scrolling: touch;

      .music {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;

        width: 100%;
        padding: 0.8rem;
        border-radius: 6px;
        user-select: none;

        td {
          width: 100%;

          font-size: 1.05rem;
          font-weight: bold;
          text-align: center;
        }

        &.current {
          color: #020402;
          background-color: #c200fb;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    height: calc(100% - 2.5rem);
    border: none;

    h2 {
      color: #c200fb;
    }

    .musics {
      height: calc(100% - 4.65rem);

      tbody {
        height: calc(100% - 2.85rem);

        .music {
          color: #c200fb;
        }
      }
    }
  }
}

@media (max-width: 568px) {
  .container {
    height: calc(100% - 2.5rem);
    border: none;

    h2 {
      color: #c200fb;
    }

    .musics {
      height: calc(100% - 4.65rem);

      tbody {
        height: calc(100% - 2.85rem);

        .music {
          color: #c200fb;
        }
      }
    }
  }
}
