.container {
  height: 100%;
  width: 100%;
  border-right: 1px solid #c200fb;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  .musics {
    width: 100%;
    padding: 0 2rem;
    height: calc(100% - 240px);

    thead {
      width: 100%;

      tr {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;

        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        th {
          width: 100%;
          padding: 1.5rem;

          font-size: 1.05rem;
          text-align: center;
        }
      }
    }

    .tbodyContainer {
      width: 100%;
      height: 100%;
      overflow-y: auto;

      tbody {
        cursor: pointer;

        .music {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          place-items: center;

          flex: 1;
          width: 100%;
          padding: 1.5rem;
          border-radius: 6px;
          user-select: none;

          td {
            width: 100%;

            font-size: 1.05rem;
            font-weight: bold;
            text-align: center;
          }

          &.current {
            color: #020402;
            background-color: #c200fb;
          }
        }
      }
    }
  }

  .addMusic {
    cursor: pointer;

    input[type='file'] {
      display: none;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    padding: 0.8rem;
    border: 2px solid #c200fb;
    border-radius: 6px;

    transition: opacity linear 0.8s;

    &:hover {
      opacity: 0.7;
    }
  }
}
