* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

$primary: #c200fb;
$secondary: #020402;
$tertiary: #2e2f2f;

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-tertiary {
  background-color: $tertiary;
}
