.container {
  main {
    height: calc(100vh - 215.2px);
  }

  .mainHeader {
    display: block;
    padding: 2rem 3rem;
    border-bottom: 1px solid #c200fb;

    h1 {
      font-size: 1.24rem;
    }
  }

  .mainFooter {
    padding: 1.5rem;
    min-height: 8rem;
    border-top: 1px solid #c200fb;

    h2 {
      font-size: 1.24rem;
    }
  }
}
