.container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;

  .songs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
